<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>templates is working</title>
</head>
<body>
{##}
{#<h2>Mera na aj demaaag kharab hogya ha</h2>#}
{#<hr>#}
{#<h3>so papu cant dance salha</h3>#}
{#{{name}} is from {{ place }} amd have so much work to do#}
<h1>Welcome to my world.Enter some informtion below</h1>
<form action="about" method="post" >
    <textarea name = 'text' style="margin: 0px; width: 1211px; height: 149px;"></textarea>
    <div>
        <input type = checkbox name="about"> Remove Punctuation <br/>
        <input type = checkbox name="fullcapital"> UPPERCASE <br/>
        <input type = checkbox name="newline">  Remove NewLine <br/>
        <input type = checkbox name="RemoveSpace">  Remove extra space <br/>
        <input type = checkbox name="charcounter">  CharCounter <br/>
        <button  type = "submit"> Analyze the text </button>
    </div>

</form>

</body>
</html>